# Ignore environment and variable files anywhere
*.tfvars
*.env

# Ignore specific infrastructure folders
infra/.terraform/
infra/.terraform.lock.hcl

# Ignore node_modules folders anywhere in the project hierarchy
node_modules/
