region = "us-east-1"
environment = "staging"
project_name = "example"
name_prefix = "eightbytes"
availability_zones = ["us-east-1a", "us-east-1b"]
app_cpu = 256
app_memory = 512
db_instance_class = "db.t3.micro"
db_allocated_storage = 20
db_engine_version = "16.3"
db_password = "ChangeMePassword123!"
min_capacity = 1
max_capacity = 2
db_multi_az = false
vpc_cidr = "10.10.0.0/16"
public_subnet_cidrs = ["10.10.1.0/24", "10.10.2.0/24"]
private_subnet_cidrs = ["10.10.11.0/24", "10.10.12.0/24"]
app_port = 3000
container_image = "123456789012.dkr.ecr.us-east-1.amazonaws.com/example-app:latest"
aws_account_id = "123456789012"
